<!DOCTYPE html>

<html>
	<head>
		<title>Captcha</title>
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles.css')}}">
		{% block headScripts %}
		{% endblock %}
	</head>
	
	<body>
		<div align="center">
			<h1>Captcha</h1>
			<hr>
		</div>
		{% block header %}
		{% endblock %}
		
		{% with messages = get_flashed_messages() %}
			{% if messages %}
				<ul>
					{% for message in messages %}
						<li><strong>{{message}}</strong></li>
					{% endfor %}
				</ul>
			{% endif %}
		{% endwith %}
		
		{% block content %}
		{% endblock %}
		
		{% block footScripts %}
		{% endblock %}
	</body>
</html>